.small {
    font-size: 12px;
}

.medium {
    font-size: 18px;
}

.large {
    font-size: 24px;
}

.xlarge {
    font-size: 30px;
}

.xxlarge {
    font-size: 36px;
}

.bold {
    font-weight: bold;
}

.light {
    font-weight: lighter;
}

.white {
    color: white;
}
