:root {
    --cube-size: 25vmin;
    --font-size-x-large: xx-large;
    --font-size-large: x-large;
    --font-size-small: large;
}

.cube {
    width: var(--cube-size);
    height: var(--cube-size);
    position: relative;
    transform-style: preserve-3d;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-large);
}

.front {
    transform: translateZ(calc(var(--cube-size) / 2));
}
.back {
    transform: rotateY(180deg) translateZ(calc(var(--cube-size) / 2));
}
.right {
    transform: rotateY(90deg) translateZ(calc(var(--cube-size) / 2));
}
.left {
    transform: rotateY(-90deg) translateZ(calc(var(--cube-size) / 2));
}
.top {
    transform: rotateX(90deg) translateZ(calc(var(--cube-size) / 2));
}
.bottom {
    transform: rotateX(-90deg) translateZ(calc(var(--cube-size) / 2));
}

@media (max-width: 700px) {
    :root {
        --cube-size: 45vmin;
        --font-size-large: var(--font-size-x-large);
    }
}
