@import './utils/styles/text.module.css';
@import './utils/styles/spacing.module.css';

.App {
    text-align: center;
    background-color: whitesmoke;
}

.flatCubeBody {
    min-height: 30vh;
    background-color: purple;
}
