@import './utils/styles/text.module.css';
@import './utils/styles/spacing.module.css';

.App {
    text-align: center;
    touch-action: manipulation;
    overflow: hidden;
}

.cubeBody {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: silver;
}

.flatCubeBody {
    min-height: 25vh;
    background-color: gray;
}
